{% extends "base.html" %}

{% block body %}


<div class="col-sm-12" id="stage-1">

<div  class="data-close controls-close set-speed view-2D zoom-close">
    
  <div class="row">
      <div id="navbar">

        <h1 class="classic-title">Choose your destination</h1>

      </div>
  </div>
  <div class="row" style="margin-top:20px;">
    <div id="data" style="padding-top:45px;">
      <div class="row" >
        {% for t in targets %}
          {% if t['slug'] == 'earth' %}
          <a class="{{escape(t['slug'])}} active bodies-link" data-id="{{escape(str(t['id']))}}" title="{{escape(t['slug'])}}" href="#{{escape(t['slug'])}}speed" id="init">{{escape(t['name'])}}</a>
          {% else %}
          <a class="{{escape(t['slug'])}} bodies-link" data-id="{{escape(str(t['id']))}}" title="{{escape(t['slug'])}}" href="#{{escape(t['slug'])}}speed">{{escape(t['name'])}}</a>
          {% end %}
        {% end %}
      </div>
      <hr>
      <div class="row">
        <a class="btn btn-primary" id="design" title="go" destination="earth">Design Mission</a>  
      </div>
    </div>
  </div>

  <div class="row" style="height:85%;" style="margin-bottom:40px;">
    <div class="col-sm-12">
      <div id="controls" style="width:350px; height:60%;border:1px solid #FFF;">
        <div class="row" style="margin-bottom:15px;">
          <div class="col-sm-6">
              <a class="btn" id="description" query="get_target">Description</a>
          </div>
          <div class="col-sm-6">
              <a class="btn" id="physics" query="get_physics">Data</a>
          </div>
        </div>
        <div class="row"> 
          <div class="col-sm-12" id="controls-data">

          </div>
        </div>
      </div>
    </div>
      <div id="universe" class="scale-stretched">
        <div id="galaxy">
          <div id="solar-system" class="earth">
            <div id="mercury" class="orbit">
              <div class="pos">
                <div class="planet">
                  <dl class="infos">
                    <dd><span></span></dd>
                  </dl>
                </div>
              </div>
            </div>
            <div id="venus" class="orbit">
              <div class="pos">
                <div class="planet">
                  <dl class="infos">
                    <dd><span></span></dd>
                  </dl>
                </div>
              </div>
            </div>
            <div id="earth" class="orbit">
              <div class="pos">
                <div class="orbit">
                  <div class="pos">
                    <div class="moon"></div>
                  </div>
                </div>
                <div class="planet">
                  <dl class="infos">
                    <dd><span></span></dd>
                  </dl>
                </div>
              </div>
            </div>
            <div id="mars" class="orbit">
              <div class="pos">
                <div class="planet">
                  <dl class="infos">
                    <dd><span></span></dd>
                  </dl>
                </div>
              </div>
            </div>
            <div id="jupiter" class="orbit">
              <div class="pos">
                <div class="planet">
                  <dl class="infos">
                    <dd><span></span></dd>
                  </dl>
                </div>
              </div>
            </div>
            <div id="saturn" class="orbit">
              <div class="pos">
                <div class="planet">
                  <div class="ring"></div>
                  <dl class="infos">
                    <dd><span></span></dd>
                  </dl>
                </div>
              </div>
            </div>
            <div id="uranus" class="orbit">
              <div class="pos">
                <div class="planet">
                  <dl class="infos">
                    <dd><span></span></dd>
                  </dl>
                </div>
              </div>
            </div>
            <div id="neptune" class="orbit">
              <div class="pos">
                <div class="planet">
                  <dl class="infos">
                    <dd><span></span></dd>
                  </dl>
                </div>
              </div>
            </div>
            <div id="sun">
              <dl class="infos">
                <dd><span></span></dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
  </div> <!-- close row -->

</div>

</div> <!-- close col-sm-12 --><!-- close stage-1 -->

<!-- ****************************************** STAGE 2 **************************************** -->

<div id="stage-2" class="col-sm-12" style="display:none;">
  <div class="row">
      <div id="navbar"> 
        <h1 class="classic-title">Choose Mission&apos;s Goal</h1>
      </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <div class="container" style=""> 
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-6">
                    <ul style="">
                        <li><i class="glyphicon glyphicon-ok"></i>
                            <span id="show-dest2"></span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                   
                </div>
            </div>
        </div>
    </div>
  </div>

  <div class="row row-first" style="">
      <div class="col-md-9"></div>
        <div class="col-md-3">
          <ul class="breadcrumbs">
              <li><a href="/">Start</a></li>
              <li>Plan</li>
          </ul>
      </div>
  </div>

  <div class="row row-first">
    <div class="col-md-3"></div>
    <div class="col-md-9" style="margin: auto auto auto -40px;">
        <div class="row">
          {% for idx, m in enumerate(missions) %}
            {% if idx == 3 %}
              </div><div class="row">
            {% end %}
              <!-- Start Icon Box 1-->
                  <div class="col-md-3 service-box service-center">
                      <div class="service-boxed">
                          <div class="service-icon" style="margin-top:-30px;">                           
                                  <i class="glyphicon icon-medium-effect"></i> 
                          </div>
                          <div class="service-content"  style="height:70%;">
                              <h4>{{m['name']}}</h4>
                              <div style="width:200px;height:200px;margin: 40px auto auto -10px;"><img src="{{m['image_url']}}" style="margin: margin: 20px auto 10px auto;" class="media-object img-rounded img-responsive missions"/></div>
                              <p style="margin: 20px auto 20px auto;">{{m['description']}}</p>
                              <p><a mission="{{m['slug']}}" class="set-mission submit btn btn-default">Choose</a></p>
                          </div>
                      </div>
                  </div>
                  <!-- End Icon Box 1--> 
              {% end %}
          </div>                          
      </div>
  </div>
        <div class="hr5" style="margin-top:40px; margin-bottom:40px;"></div>  
</div><!-- close stage-2 -->

<!-- ****************************************** STAGE 3 **************************************** -->

<div id="stage-3" class="col-sm-12" style="display:none;">
  <div class="row">
      <div id="navbar"> 
        <h1 class="classic-title">Choose Payloads</h1>
      </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <div class="container" style=""> 
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-6">
                    <ul style="">
                        <li><i class="glyphicon glyphicon-ok"></i>
                            <span id="show-dest3"></span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                   
                </div>
            </div>
        </div>
    </div>
  </div>

  <div class="row row-first" style="">
      <div class="col-md-9"></div>
        <div class="col-md-3">
          <ul class="breadcrumbs">
              <li><a href="/">Start</a></li>
              <li>Plan</li>
          </ul>
      </div>
  </div>


  {% for idx, p in enumerate(payloads) %}
    {% if idx == 0 %}
    <div class="row row-first">
    {% else %}
    <div class="row">
    {% end %}
        <div class="col-md-9">
          <div class="list-group">
              <div class="list-group-item">
                  <div class="media col-md-3">
                      <figure class="pull-left">
                          <img class="media-object img-rounded img-responsive"  src="http://placehold.it/80x80" alt="" >
                      </figure>
                  </div>
                  <div class="col-md-6">
                      <h4 class="list-group-item-heading"> {{p['name']}} </h4>
                      <p class=""> {{p['description']}}
                      </p>
                  </div>
                  <div class="col-md-3 text-center">
                      <input type="checkbox" id="{{idx}}" class="checkboxPL" data-slug="{{p['slug']}}"/>
                      <label for="{{idx}}">Assemble</label>
                  </div>
              </div>
          </div>
        </div>
    </div>
  {% end %}
    
    <div class="row">
        <div class="col-md-9">
             <div class="hr5" style="margin-top:40px; margin-bottom:40px;"></div>
             <p style="text-align:right;"><a id="set-payload" class="btn btn-primary btn-lg">Payload Design Is A Go</a></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
             <p style="text-align:right;padding-top:15px;"><a id="top" style="cursor:pointer;" onclick="DOMFlow.scrollUp();return false;">top</a></p>
        </div>
    </div>


</div> <!-- close stage-3 -->

<!-- ****************************************** STAGE 4 **************************************** -->

<div id="stage-4" class="col-sm-12" style="display:none;">
  <div class="row">
      <div id="navbar"> 
        <h1 class="classic-title">Choose Bus</h1>
      </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <div class="container" style=""> 
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-6">
                    <ul style="">
                        <li><i class="glyphicon glyphicon-ok"></i>
                            <span id="show-dest4"></span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                   
                </div>
            </div>
        </div>
    </div>
  </div>

  <div class="row row-first" style="">
      <div class="col-md-9"></div>
        <div class="col-md-3">
          <ul class="breadcrumbs">
              <li><a href="/">Start</a></li>
              <li>Plan</li>
          </ul>
      </div>
  </div>

{% for idx,comp in enumerate(bus_comps) %}
    {% if idx == 0 %}
    <div class="col-md-10">
        <div class="row list-group-item" id="row{{idx}}">
    {% end %}
            
                    <div class="col-md-6" id="check{% raw idx % 2 %}" >
                        {% if idx == 0 or idx % 2 == 0 %}
                        <div class="media col-md-3">
                            <h4 class="list-group-item-heading"> Type: </h4>
                            <p style="font-weight:bold;"> {% for t in bus_types %}
                              {% if comp['pbtype'][0] == t['id'] %}
                                  {{t['name']}} 
                              {% end %}
                              {% end %}
                            </p>
                        </div>
                        {% else %}
                        <div class="media col-md-3">
                            
                        </div>
                        {% end %}
                        <div class="col-md-6">
                            <h4 class="list-group-item-heading"> {{comp['name']}} </h4>
                            
                            <p class=""> {{comp['description']}}
                            </p>
                        </div>
                        <div class="col-md-3 text-center">
                                <input type="checkbox" id="{{comp['slug']}}" class="checkboxBUS" data-slug="{{comp['slug']}}"/>
                                <label for="{{comp['slug']}}">Assemble</label>
                        </div>
                    </div>

    {% if idx == len(bus_comps)-1 %}
        </div>
    </div>
    {% break %}
    {% end %}

    {% if idx == 1 or idx % 2 == 1 %}      
        </div>
    </div>
    <div class="col-md-10">
        <div class="row list-group-item" id="row{{idx}}">
    {% end %}
    
    {% end %}
     <div class="row">
        <div class="col-md-9">
             <div class="hr5" style="margin-top:40px; margin-bottom:40px;"></div>
             <p style="text-align:right;"><a id="set-bus" class="btn btn-primary btn-lg">Bus Design Is A Go</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
             <p style="text-align:right;padding-top:15px;"><a id="top" style="cursor:pointer;" onclick="DOMFlow.scrollUp();return false;">top</a></p>
        </div>
    </div>
    </div>

</div> <!-- close stage-4 -->

<!-- ****************************************** STAGE 5 **************************************** -->

<div id="stage-5" class="col-sm-12" style="display:none;">
  <div class="row">
      <div id="navbar"> 

      </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <div class="container" style=""> 
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-6">
                    <ul style="">
                        <li><i class="glyphicon glyphicon-ok"></i>
                            <span id="show-dest5"></span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                   
                </div>
            </div>
        </div>
    </div>
  </div>

  <div class="row row-first" style="">
      <div class="col-md-9"></div>
        <div class="col-md-3">
          <ul class="breadcrumbs">
              <li><a href="/">Start</a></li>
              <li>Plan</li>
          </ul>
      </div>
  </div>

  <div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="hr5" style="margin-top:40px; margin-bottom:40px;"></div>
            <h1 class="text-center">Mission Is A Go!</h1>
            <div id="target" class="hr5" style="margin-top:40px; margin-bottom:40px;"></div>
            <div class="row">
                <div class="col-md-2"></div>
                <div style="width:99%;height:99%;margin: auto auto;"><img src="https://pbs.twimg.com/media/BgYG7GTCUAAG0Pt.jpg" style="margin: 10px auto 10px;" class="img-thumbnail"/></div>
            <div class="hr5" style="margin-top:40px; margin-bottom:40px;"></div>
            </div>
        </div>
    </div>

    <div class="row" id="ratings-row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h1 class="text-center">Rating of your mission</h1>
            <div class="hr5" style="margin-top:40px; margin-bottom:40px;"></div>
              <div id="ratings"></div>
            <div class="hr5" style="margin-top:40px; margin-bottom:40px;"></div>
        </div>
    </div>

    <div class="row" id="missions-row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="hr5" style="margin-top:40px; margin-bottom:40px;"></div>
            <h1 class="text-center">Similar Missions from Space Agencies</h1>
            <div class="hr5" style="margin-top:40px; margin-bottom:40px;"></div>

            <div class="row" id="similars">
                
            </div>
                  


            <div class="hr5" style="margin-top:40px; margin-bottom:40px;"></div>
        </div>
    </div>


  </div>

</div> <!-- close stage-4 -->


<script type="text/javascript">

msg = 'shake hand ' + Math.random();

var recInterval = null;
var sock = null;
var host = 'http://localhost:8080/connect'

/** Start Socket **/
sock = new SockJS(host, null, { 'debug': true,
    'protocols_whitelist': ['websocket', 'xdr-streaming', 'xhr-streaming', 'iframe-eventsource', 'iframe-htmlfile', 'xdr-polling', 'xhr-polling', 'iframe-xhr-polling', 'jsonp-polling']
});

sock.onopen = Socketing.onopen
sock.onclose = Socketing.onclose
/** Socket is running**/

/** User Choices Collector **/
//var Designing = new Designing(this)

/** Choose Destination **/
$('#design').on('click', function(e) {
    var destination = $(this).attr('destination')
    console.log('destination')
    DOMFlow.startDesign(destination, Designing)
    e.defaultPrevented;
});

/** Choose Mission **/
$('.set-mission').on('click', function(e) {
    e.defaultPrevented;
    //check destination+mission combo
    var mission = $(this).attr('mission')
    console.log(mission)
    var check = DOMFlow.status.getDestination()
    var params = '?destination='+check+'&mission='+mission
    console.log(params)
    DOMFlow.status.setParams(params)
    DOMFlow.status.payloads = []
    DOMFlow.status.bus = []


    Socketing.send_ack('{"query": "destination-mission", "object": "' + params + '"}', DOMFlow.goToPLDesign, mission) 

});

/** Choose Payload **/
  $('#set-payload').on('click', function(e) {
    var params = DOMFlow.status.printParams()
    var payloads = DOMFlow.status.getPayloads();
    console.log('set-payload > ON CLICK '+params)
    console.log(payloads)
    if(payloads.length == 0) { return DOMFlow.status.printError('Want to waste fuel or do some littering?'); }
    for (var i = 0; i<payloads.length; i++) params += '&'+payloads[i]+'=true'
    console.log('set-payload > ON UPDATE '+params)
    Socketing.send_ack('{"query": "set-payload", "object": "' + params + '"}', DOMFlow.goToBusDesign, params)
    e.defaultPrevented;
  });

/** Choose Bus **/
  $('#set-bus').on('click', function(e) {
    var params = DOMFlow.status.printParams()
    console.log('set-bus > ON CLICK '+params)
    var bus = DOMFlow.status.getBus();
    
    if(bus.length == 0) { return DOMFlow.status.printError('Cannot send payloads in a bubble!'); }
    for (var i = 0; i<bus.length; i++) params += '&'+bus[i]+'=bustrue'
    console.log('set-bus > ON UPDATE '+params)
    Socketing.send_ack('{"query": "set-bus", "object": "' + params + '"}', DOMFlow.takeOff, params)
    e.defaultPrevented;
  });




/* Homepage Events Handlers */

var solarsys = $("#solar-system");

$(".bodies-link").on('click', function(e) {
  e.defaultPrevented;
  /* show panel data */
  var ref = $(this).attr("title");
  $('#design').attr("destination", ref)
  solarsys.removeClass().addClass(ref);
  $(this).parent().find('a').removeClass('active');
  $(this).addClass('active');
  /* send ack */
  Socketing.send_ack('{"query": "get_target", "object": "' + $(this).attr("data-id") + '"}', 
                      DOMFlow.getTarget)
});

$('#description').on('click', function(e) {
  e.defaultPrevented;
  var id = $(this).parent().parent().parent().attr('body')
  console.log('click')
  /* send ack */
  Socketing.send_ack('{"query": "get_target", "object": "' + id + '"}', 
                      DOMFlow.getTarget)
});

$('#physics').on('click', function(e) {
  e.defaultPrevented;
  var id = $(this).parent().parent().parent().attr('body')
  /* send ack */
  Socketing.send_ack('{"query": "get_physics", "object": "' + id + '"}', 
                     DOMFlow.getPhysics)
});

/* Payloads Page Events Handlers */

/*(*/function UncheckAll(){ 
      var w = document.getElementsByTagName('input'); 
      for(var i = 0; i < w.length; i++){ 
        if(w[i].type=='checkbox'){ 
          w[i].checked = false; 
        }
      }
}/*)($(window));*/ 


$('.checkboxPL').on('change', function(){
    var el = $(this).attr('data-slug')
    //console.log(el)
    var state = $(this).prop('checked')
    if (state == true){
        //console.log('ADD PL')
        DOMFlow.status.addPayload(el)
    }
    else {
        //console.log('REMOVE PL')
        if (DOMFlow.containsElem(el, DOMFlow.status.payloads)) {
            DOMFlow.status.removePayload(el)
        }
    }
    
    //console.log(DOMFlow.status.payloads)
    
});

$('.checkboxBUS').on('change', function(){
    var div = $(this).parent().parent()
    
    //console.log($(this).attr('checked'))
    //console.log($(this).attr('data-slug'))
    var el = $(this).attr('data-slug')
    var state = $(this).prop('checked')
    if (state == true){
        DOMFlow.status.addBus(el)
        //console.log(div1)
        if (div.attr('id') == 'check0') {
              //console.log('left checkbox')
              box = div.next().find('input[type="checkbox"]')
              box.prop('disabled', true)


        }
        else if(div.attr('id') == 'check1') {
            //console.log('right checkbox')
            box = div.prev().find('input[type="checkbox"]')
            //console.log(box)
            box.prop('disabled', true)
            //console.log(box.attr('disabled'))

            }
    }
    else {
        if (DOMFlow.containsElem(el, DOMFlow.status.bus)) {
            DOMFlow.status.removeBus(el)
        }
        //console.log(div1)
        if (div.attr('id') == 'check0') {
              //console.log('left checkbox')
              box = div.next().find('input[type="checkbox"]')
              box.removeAttr('disabled')


        }
        else if(div.attr('id') == 'check1') {
            //console.log('right checkbox')
            box = div.prev().find('input[type="checkbox"]')
            box.removeAttr('disabled')
            //console.log(box.attr('disabled'))

            }
    }
    
    //console.log(DOMFlow.status.bus)
});

</script>

<style type="text/css">
body {
  color: #fff;
}

#stage-1, #stage-2, #stage-3, #stage-4 {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#controls-data {
  color: #fff;
  font-size: 14px;
}

#controls-data > p {
  text-align: center;
}

.targets, .missions{
  margin: auto auto 10px;
  width:150px;
  height:auto;
}

#json-table {
  color: #fff;
  font-size:14px;
}

.jh-value > span{
  padding-left:10px;
  margin-left:10px;
}

.milkyway {
    background-image: url(/static/images/webapp/background.svg); 
    background-size: cover; 
    height: 100%;
    overflow-x:hidden;
    /*overflow-y:hidden;*/
    background-repeat: no-repeat;
}

div.list-group-item {
    height:auto;
    min-height:110px;
    background-color: transparent;
}
div.list-group-item.active small {
    color:#fff;
}


input[type="checkbox"].checkboxPL, input[type="checkbox"].checkboxBUS {
    display: none;
}
input[type="checkbox"].checkboxPL + label, input[type="checkbox"].checkboxBUS + label {
    display: inline;
    position: relative;
    background-color: #b94a48;
    
    /*label styling*/
    padding: 2px 4px;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    vertical-align: baseline;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
input[type="checkbox"].checkboxPL:checked + label, input[type="checkbox"].checkboxBUS:checked + label {
    background-color: #468847;
}

input[type="checkbox"].checkboxPL:disabled + label, input[type="checkbox"].checkboxBUS:disabled + label {
    opacity: 0.5;
}

a#set-payload {
    background-color: #468847;
}

/*
  Copyright (c) 2012 Julian Garnier
  Licensed under the MIT license
  @JulianGarnier
*/

/* --------------------------------------------------------------------------- text infos data */

/* --------------------------------------------------------------------------- speed, circum, distances */

.set-speed #sun dl.infos dd:after {
  content: 'Orbit Velocity: \A 0 km/h \A Equatorial Circum.: \A 4,370,005 km \A Distance From Sun: \A 0 Km \A From Earth: \A 149,598,262 km';
  white-space: pre; }

.set-speed #mercury dl.infos dd:after {
  content: 'Orbit Velocity: 170,503 km/h \A Equatorial Circum.: 15,329 km \A Distance From Sun: 57,909,227 km \A From Earth: np'; 
  white-space: pre;}

.set-speed #venus dl.infos dd:after {
  content: 'Orbit Velocity: 126,074 km/h \A Equatorial Circum.: 38,024 km \A Distance From Sun: 108,209,475 km \A From Earth: np'; 
  white-space: pre; }

.set-speed #earth dl.infos dd:after {
  content: 'Orbit Velocity: 107,218 km/h \A Equatorial Circum.: 40,030 km \A Distance From Sun: 149,598,262 km \A From Earth: 0 Km'; 
  white-space: pre; }

.set-speed #mars dl.infos dd:after {
  content: 'Orbit Velocity: 86,677 km/h \A Equatorial Circum.: 21,296 km \A Distance From Sun: 227,943,824 km \A From Earth: np'; 
  white-space: pre; }

.set-speed #jupiter dl.infos dd:after {
  content: 'Orbit Velocity: 47,002 km/h \A Equatorial Circum.: 439,263 km \A Distance From Sun: 778,340,821 km \A From Earth: np'; 
  white-space: pre; } 

.set-speed #saturn dl.infos dd:after {
  content: 'Orbit Velocity: 34,701 km/h \A Equatorial Circum.: 365,882 km \A Distance From Sun: 1,426,666,422 km \A From Earth: np'; 
  white-space: pre;}

.set-speed #uranus dl.infos dd:after {
  content: 'Orbit Velocity: \A 24,477 km/h \A Equatorial Circum.: \A 159,354 km \A Distance From Sun: \A 2,870,658,186 km \A From Earth: \A np'; 
  white-space: pre;}

.set-speed #neptune dl.infos dd:after {
  content: 'Orbit Velocity: \A 19,566 km/h \A Equatorial Circum.: \A 154,704 km \A Distance From Sun: \A 4,498,396,441 km \A From Earth: \A np'; 
  white-space: pre;}

</style>



{% end %}